.product-wrapper {
  height: 353px;
  background-color: #fff;
  padding-bottom: 12px;

  &:hover {
    background-color: #e6e8ea;

    .product-button {
      display: flex;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 28px;
    background-color: #fff !important;
  }
}

.product-img {
  position: relative;
  width: 216px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;

  img {
    width: 216px;
    height: auto;
  }

  @media (max-width: 1024px) {
    width: 132px;

    img {
      width: 132px;
    }
  }
}

.product-off-background {
  height: 0;
  width: 0;
  border-top: 4.5rem solid #f8475f;
  border-left: 5rem solid transparent;
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: 1024px) {
    border-top: 3rem solid #f8475f;
    border-left: 2.75rem solid transparent;
  }
}

.product-off-text {
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 0.5rem;
  user-select: none;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    margin-top: 0.5rem;
    margin-right: 0.3rem;
    font-size: 10px;
  }
}

.product-title {
  margin-top: 0.5rem;
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 10px;
  }
}

.product-rank {
  display: flex;
  justify-content: center;
  margin: 0.1rem 0 0.5rem 0;
}

.product-price {
  display: grid;
  grid-gap: 0.1rem;
  text-align: center;

  .product-old-price {
    height: 16px;
    color: #7a7a7a;
    font-size: 12px;

    @media (max-width: 1024px) {
      font-size: 11px;
    }
  }

  .product-fullprice {
    color: #000000;
    font-size: 18px;
    font-weight: bold;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  .product-installments {
    height: 16px;
    color: #7a7a7a;
    font-size: 11px;

    @media (max-width: 1024px) {
      font-size: 11px;
    }
  }
}

.product-button {
  width: 100%;
  max-height: 50px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    display: flex;
  }
}
