.navbar-container {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}

.mobile-menu {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;

    &:active {
      svg > path {
        fill: #7a7a7a;
      }
    }
  }
}

.navbar-logo {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.logo-corebiz {
  height: 40px;
  width: auto;
  user-select: none;

  @media (max-width: 768px) {
    height: 25px;
  }
}

.search-bar {
  min-width: 50%;
  border-bottom: 1px solid #7a7a7a;
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 32px;

  @media (max-width: 768px) {
    order: 2;
    grid-column: span 3;
    margin-top: 0.7rem;
  }
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: #000;
  &:hover {
    path {
      fill: #7a7a7a;
    }
  }
}

.user-account {
  color: #7a7a7a;
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  span {
    margin-left: 0.5rem;
  }

  &:hover {
    path {
      fill: #7a7a7a;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.user-cart {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
    background-color: #f8475f;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    margin-left: 0.25rem;
  }

  &:hover {
    path {
      fill: #7a7a7a;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:active {
      svg > path {
        fill: #7a7a7a;
      }
    }
  }
}
